<app-header-d></app-header-d>

<!--<mat-grid-tile [colspan]="1"
        [rowspan]="1">
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'transparent'">
        <div class="card">
            
            <img mat-icon mat-card-avatar class="profilePhoto" [src]="user.photo" alt="User Avatar">   
            <br><br>
            <h1>{{user.username}}</h1>
            <br>
            <p>{{user.description}}</p>
            <div class="starsUser">
                <mat-icon class="starIcon" fontIcon="star" ></mat-icon>
                <mat-icon class="starIcon" fontIcon="star" ></mat-icon>
                <mat-icon class="starIcon" fontIcon="star" ></mat-icon>
                <mat-icon class="starIcon" fontIcon="star" ></mat-icon>
                <mat-icon class="starIcon" fontIcon="star" ></mat-icon>    
            </div>
            <button class="editP" mat-raised-button >Edit profile&nbsp;&nbsp;<mat-icon width="12px" >edit</mat-icon></button>
            
        </div>
        
        
    </mat-grid-tile>-->
<div class="container">
  <div class="column profile-column">
    <img
      mat-icon
      mat-card-avatar
      class="profile-Photo"
      [src]="user.photo"
      alt="User Avatar"
      />
    <br /><br />
    <h1 style="font-weight: bolder">{{ user.username }}</h1>
    <br />
    <p class="description">{{ user.description }}</p>
    <div class="starsUser">
      <mat-icon class="starIcon" fontIcon="star"></mat-icon>
      <mat-icon class="starIcon" fontIcon="star"></mat-icon>
      <mat-icon class="starIcon" fontIcon="star"></mat-icon>
      <mat-icon class="starIcon" fontIcon="star"></mat-icon>
      <mat-icon class="starIcon" fontIcon="star"></mat-icon>
    </div>
    <button class="editP" mat-raised-button (click)="openDescriptionModal()">
      Edit profile&nbsp;&nbsp;<mat-icon width="12px">edit</mat-icon>
    </button>
  </div>

  <div class="column tab-column">
    <mat-tab-group mat-align-tabs="center" style="max-height: 90%">
      <mat-tab label="Personal information">
        <p>
          Full name<button class="btn" mat-raised-button color="primary">
            {{ user.name }}
          </button>
        </p>

        <p>
          Age<button class="btn" mat-raised-button color="primary">
            {{ user.age }} years
          </button>
        </p>

        <p>
          E-mail<button class="btn" mat-raised-button color="primary">
            {{ user.email }}
          </button>
        </p>

        <p>
          Phone<button class="btn" mat-raised-button color="primary">
            {{ user.phone }}
          </button>
        </p>

        <p>
          Location<button class="btn" mat-raised-button color="primary">
            {{ user.region }}
          </button>
        </p>
      </mat-tab>
      <mat-tab label="Experience">
        <div>
          <div *ngIf="!show">
            <div *ngFor="let job of jobs">
              <br />
              <p>
                Job<button
                  class="btn"
                  style="right: 20px"
                  mat-raised-button
                  color="primary">
                  {{ job.job }}
                </button>
              </p>

              <p>
                Time<button
                  class="btn"
                  style="right: 20px"
                  mat-raised-button
                  color="primary">
                  {{ job.time }}
                </button>
              </p>
              <br />
              <mat-divider></mat-divider>
            </div>
            <button class="btn-edit" mat-raised-button (click)="show=!show">
              Update experience&nbsp;&nbsp;
            </button>
          </div>
          <div *ngIf="show" class="experience">
            <ng-template [ngIf]="show"><div class="experience-container">
                <form mat [formGroup]="experienceForm">
                  <mat-form-field>
                    <input matInput type="Job" placeholder="Job"
                      formControlName="Jobs">
                  </mat-form-field>
                  <br />
                  <mat-form-field>
                    <input matInput type="String" placeholder="Time"
                      formControlName="Time">
                  </mat-form-field>
                </form>
                <div class="buttons-container-experience">
                  <button mat-raised-button style="background-color: white;
                    color: black" (click)="show=!show">
                    Cancel&nbsp;&nbsp;
                  </button>

                  <button mat-raised-button (click)="
                    Updateexpe()"
                    color="accent">
                    Save&nbsp;&nbsp;
                  </button>
                </div>
              </div></ng-template>
          </div>
          <div>

          </div>
        </div>
      </mat-tab>

      <mat-tab label="About the vehicle">
        <div>
          <mat-grid-list cols="2" rowHeight="400px">
            <mat-grid-tile>
              <div class="title2">Vehicle Information</div>
              <div class="title3">This information will be seen by the client</div>
              <div>
                <ng-template [ngIf]="show">
                  <div class="vehicle-container">
                    <form mat class="info" [formGroup]="vehicleForm">
                      <mat-form-field>
                        <input matInput type="Brand" placeholder="Brand"
                          formControlName="Brand">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput type="Typecar" placeholder="Typecar"
                          formControlName="Typecar">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput type="Category" placeholder="Category"
                          formControlName="Category">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput type="Quantity" placeholder="Quantity"
                          formControlName="Quantity">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput type="Photo" placeholder="Photo"
                          formControlName="Photo">
                      </mat-form-field>
                    </form>
                    <div class="buttons-container-vehicle">
                      <button mat-raised-button style="background-color: white;
                        color: black" (click)="show=!show">
                        Cancel&nbsp;&nbsp;
                      </button>
                      <button mat-raised-button color="accent" (click)="
                        Update()">
                        Save&nbsp;&nbsp;
                      </button>
                    </div>

                  </div>
                </ng-template>
                <ng-template [ngIf]="!show"><div>
                    <div class="title4">Brand: {{vehicle.brand}}</div>
                    <div class="title4">Type car:{{vehicle.type_car}}</div>
                    <div class="title4">Category: {{vehicle.category}}</div>
                    <div class="title4">Quantity: {{vehicle.quantity}}</div>
                    <button class="btn-update" mat-raised-button (click)="show=
                      !show">
                      Update information&nbsp;
                    </button>

                  </div></ng-template>
                <br /><br /><br />

              </div>

              <br /><br />


            </mat-grid-tile>
            <mat-grid-tile>
              <div class="title2">Photos</div>
              <img mat-icon [src]="vehicle.photo_car" alt="car_photo"
                style="max-width: 100%;"/>

            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Comments">
        <div>
          <mat-list *ngFor="let comment of comments">
            <br /><br />
            <mat-list-item>
              <img [src]="comment.client.photo" alt="" class="foto-comments" />
              <img
                src="../../../../assets/imgs/Star.png"
                alt=""
                class="star-foto"
              />
              <h2>{{ comment.client.username }}</h2>
              <h6 mat-line>{{ comment.comment }}</h6>
              <h4>{{ comment.stars }}</h4>
            </mat-list-item>
            <br /><br />
            <mat-divider></mat-divider>
          </mat-list>
        </div>
      </mat-tab> -->
      <mat-tab label="Comments">
        <div>
          <div *ngFor="let comment of pageSlice" class="tab-panel">
            <div class="row">
              <img
                [src]="comment.client.photo"
                alt=""
                class="foto-comments"
                mat-card-avatar
                />
              <div class="c-column">
                <h2>{{ comment.client.username }}</h2>
                <p mat-line>{{ comment.comment }}</p>
              </div>
              <div class="row">
                <b style="font-size: larger">{{ comment.star }}</b>
                <mat-icon fontIcon="star"></mat-icon>
              </div>
            </div>

            <mat-divider class="divider"></mat-divider>
          </div>
          <div class="comment-paginator">

            <mat-paginator [length]="this.comments.length"
              *ngIf="this.comments"
              [pageSize]="3"
              [pageSizeOptions]="[3]"
              class="paginator"
              (page)="onPageChange($event)">
              aria-label="Select page">
            </mat-paginator>
            <!-- <button
              color="accent"
              class="btn-add-comment"
              mat-raised-button
              (click)="openCommentModal()">
              Add comment&nbsp;&nbsp; 
              <mat-icon fontIcon="comment"></mat-icon>
            </button> -->
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-footers></app-footers>
