<!-- <app-header-c></app-header-c> -->
<h1>Payment method</h1>

<!-- <button mat-raised-button [routerLink]="'/login'" color="accent">Add Card</button> -->
<div class="info" fxLayout="row">
  <div class="center">
    <form class="card" [formGroup]="AddForm" (submit)="onSubmit()">
      <mat-form-field class="margin">
        <mat-label>Type Card</mat-label>
        <mat-select formControlName="type">
          <mat-option value="Visa">Visa</mat-option>
          <mat-option value="Mastercard">Mastercard</mat-option>
        </mat-select>
        <mat-error *ngIf="type?.errors?.['required']">Type Card is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field class="margin"> </mat-form-field> -->
      <mat-form-field class="margin">
        <input matInput placeholder="Title" formControlName="title" />
        <mat-error *ngIf="title?.errors?.['required']">Title is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="Center_Box">
        <div class="Box">
          <h1>Payment Details</h1>
          <div class="content">
            <mat-form-field>
              <input
                matInput
                placeholder="Holder Name"
                formControlName="name"
                />
              <mat-error *ngIf="name?.errors?.['required']">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Card Number"
                formControlName="numberCard"
                maxlength="16"
                minlength="16"
                />
              <mat-error *ngIf="numberCard?.errors?.['required']">
                Card number is <strong>required</strong>
              </mat-error>

              <mat-error *ngIf="numberCard?.errors?.['pattern'] &&
                !numberCard?.errors?.['required']">
                Card number must have only <strong>numbers</strong>
              </mat-error>
              <mat-error *ngIf="numberCard?.errors?.['minlength'] &&
                !numberCard?.errors?.['required']">
                Card number must have <strong> 16 </strong> numbers
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <!-- <input
                matInput
                placeholder="Expiration date"
                formControlName="date"
                />
                
              <mat-error *ngIf="date?.errors?.['required']">
                Expiration date is <strong>required</strong>
              </mat-error> -->
              <input matInput [matDatepicker]="picker"
                placeholder="Expiration date"
                readonly="true"
                formControlName="date">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="date?.errors?.['required']">Birth date is
                <strong>required</strong> </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="CVV"
                formControlName="cvv"
                maxlength="3"
                minlength="3" />
              <mat-error *ngIf="cvv?.errors?.['required']">
                CVV is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="cvv?.errors?.['pattern'] &&
                !cvv?.errors?.['required']">
                CVV number must have only <strong>numbers</strong>
              </mat-error>
              <mat-error *ngIf="cvv?.errors?.['minlength'] &&
                !cvv?.errors?.['required']">
                CVV must have <strong> 3 </strong> numbers
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="Box">
          <h1>Billing information</h1>
          <div class="content">
            <mat-form-field>
              <input
                matInput
                placeholder="Phone number"
                formControlName="phone"
                maxlength="9"
                minlength="9"
                />

              <mat-error *ngIf="phone?.errors?.['required']">
                Phone is <strong>required</strong>
              </mat-error>

              <mat-error
                *ngIf="phone?.errors?.['pattern'] &&
                !phone?.errors?.['required']">
                Phone must have only <strong>numbers</strong>
              </mat-error>

              <mat-error *ngIf="phone?.errors?.['minlength'] &&
                !phone?.errors?.['required']">
                Phone field must have <strong> 9 </strong> numbers
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <textarea
                matInput
                placeholder="Address"
                formControlName="direction"></textarea>
              <mat-error *ngIf="direction?.errors?.['required']">
                Direction is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Postal code o zip"
                formControlName="postal"
                maxlength="5"
                minlength="5"
                />
              <mat-hint align="end">{{ postal?.value.length }} / 5</mat-hint>
              <mat-error *ngIf="postal?.errors?.['required']">
                Postal is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="postal?.errors?.['pattern'] &&
                !postal?.errors?.['required']">
                Postal code must have only <strong>numbers</strong>
              </mat-error>
              <mat-error *ngIf="postal?.errors?.['minlength'] &&
                !postal?.errors?.['required']">
                Postal code must have <strong> 5 </strong> numbers
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error
                *ngIf="email?.errors?.['email'] &&
                !email?.errors?.['required']">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="email?.errors?.['required']">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="btns">
        <button
          mat-raised-button
          (click)="registerData()"
          [disabled]="!AddForm.valid"
          color="accent">
          Create
        </button>
        <button mat-raised-button (click)="cancel()" color="warn">
          Cancel
        </button>
      </div>
    </form>
  </div>

  <!-- <form class="cc-form" [formGroup]="form">
        <mat-form-field class="ngx-cc-form-field">
          <ngx-cc name="cardNumber" styleClass="card" formControlName="creditCard"></ngx-cc>
          <mat-placeholder>0000 0000 0000 0000</mat-placeholder>
          <mat-error *ngIf="form.controls.creditCard.invalid">Card number is not valid</mat-error>
        </mat-form-field>
        <div class="cc-date-cvv-container">
          <mat-form-field class="ngx-cc-form-field">
              <ngx-cc-date formControlName="creditCardDate"></ngx-cc-date>
              <mat-placeholder>MM / YY</mat-placeholder>
              <mat-error *ngIf="form.controls.creditCardDate.invalid">Expiration date is not valid</mat-error>
          </mat-form-field>
          <mat-form-field class="ngx-cc-form-field">
              <ngx-cc-cvv formControlName="creditCardCvv"></ngx-cc-cvv>
              <mat-placeholder>CVV</mat-placeholder>
              <mat-error *ngIf="form.controls.creditCardCvv.invalid">Security code is not valid</mat-error>
          </mat-form-field>
        </div>
        <div class="btn-container">
            <button [disabled]="form.invalid" mat-raised-button color="primary">Purchase</button>
        </div>
      </form> -->
</div>
<!-- <app-footers></app-footers> -->
