<app-header></app-header>

<img src="../../../../assets/imgs/fastporte-logo.png" alt="" class="card">

<h1>Terminate New Account</h1>
<form mat action="" class="card">
    <mat-form-field>
        <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field>
        <textarea type="text" matInput placeholder="Type a description about you"></textarea>
    </mat-form-field>
    <button mat-raised-button [routerLink]="'/login'" color="primary">Create account</button>
</form>

<app-footer></app-footer>
