h1{
    width: 100%;
    position: relative;
    left: 10%;
    top: 5%;
}
.details-container{
    width: 80%;
    position: relative;
    left: 10%;
    top: 5%;
    padding: 10px;
    justify-content: space-center;
}
.mat-card-avatar{
    width: 70px;
    height: 70px;
    font-size: 40px; 
}
.inline{
    display: inline-block;
    width: 48%;
    margin: 10px;
}
.blue-strong{
    color: blue;
}
.inline-block{
    display: inline-block;
    margin: 10px;
    margin-right: 100px;
}
mat-card {
    height: 100%;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}
mat-card-title {
    color: #0f15a3;
}
mat-form-field {
    width: 100%;
}
span{
    color: black;
}
.client-data::before{
    content: "";
    position: absolute;
    background-color: black;
    display: center;
    width: 80%;
    height: 3px;
}