<footer color="primary">
    <div class="footer">
        <h2>About FastPorte</h2>
        <br>
        <button mat-mini-fab color="white" >
            <mat-icon class="iconC">mail_outline</mat-icon>
        </button>&nbsp;
        <button mat-mini-fab color="white">
            <mat-icon class="iconC">facebook</mat-icon>
        </button>&nbsp;
        <button mat-mini-fab color="white">
            <mat-icon class="iconC">public</mat-icon>
        </button>&nbsp;
        <button mat-mini-fab color="white">
            <mat-icon class="iconC">forum</mat-icon>
        </button>
        <br>
        <br>
        <p>© FastPorte, 2022.</p>
    </div>
</footer>