<app-header-c></app-header-c>
<mat-grid-list class="card" cols="4" rowHeight="80%">

    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'transparent'">
        <div class="card">
            <img mat-icon mat-card-avatar class="profilePhoto"
                [src]="user.photo" alt="User Avatar">

            <br><br>
            <h1>{{user.username}}</h1>
            <br>
            <p *ngIf="!show">{{user.description}}</p>
            <form mat class="card2" [formGroup]="Edit" *ngIf="show">
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description" placeholder="Description" >

                </mat-form-field>
            </form>
            <div class="starsUser">
                <mat-icon class="starIcon" fontIcon="star"></mat-icon>
                <mat-icon class="starIcon" fontIcon="star"></mat-icon>
                <mat-icon class="starIcon" fontIcon="star"></mat-icon>
                <mat-icon class="starIcon" fontIcon="star"></mat-icon>
                <mat-icon class="starIcon" fontIcon="star"></mat-icon>
            </div>
            

            <button class="editP" mat-raised-button (click)="openDescriptionModal()" *ngIf="!show" >Edit Description&nbsp;&nbsp;<mat-icon width="12px" >edit</mat-icon></button>
            <div class="button">
                <button class="editO" mat-raised-button (click)="searchDialog()" *ngIf="show">Search &nbsp;&nbsp;<mat-icon width="12px" >edit</mat-icon></button>
            <button class="editC" mat-raised-button (click)="closeDialog()" *ngIf="show">Cancel &nbsp;&nbsp;<mat-icon width="12px" >edit</mat-icon></button>
            </div>
            

        </div>


    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1"
        [style.background]="'transparent'">

        <div>
            <br><br><br><br>
            <img src="../assets/imgs/label.png"/>
            <br>
            <label>
                <mat-icon style="font-size: 20px;">badge</mat-icon>
                ⠀⠀Full name
                <button class="btn" mat-raised-button color="primary">{{user.name}}
                    {{user.last_name}}</button>
            </label>
            <br>

            <label>
                <mat-icon style="font-size: 20px;">person</mat-icon>
                ⠀⠀Birth date<button class="btn" mat-raised-button color="primary">{{user.birthdate}}
                </button>
            </label>

            <br>

            <label>
                <mat-icon style="font-size: 20px;">cake</mat-icon>
                ⠀⠀E-mail
                <button class="btn" mat-raised-button color="primary">{{user.email}}</button></label>
            <br>

            <label>
                <mat-icon style="font-size: 20px;">smartphone</mat-icon>
                ⠀⠀Phone
                <button class="btn" mat-raised-button color="primary">{{user.phone}}</button></label>
            <br>

            <label>
                <mat-icon style="font-size: 20px;">location_on</mat-icon>
                ⠀⠀Location
                <button class="btn" mat-raised-button color="primary">{{user.region}}</button>
            </label>
        </div>

    </mat-grid-tile>

</mat-grid-list>

<app-footers></app-footers>