.inline-block {
  display: inline-block;
}
.info mat-card {
  margin: 40px;
}
div {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.home_title::before {
  content: "|";
}
.profile_card {
  height: 100px;
  width: 400px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
._badge {
  color: white;
}
.profile_card mat-card-title {
  margin-left: 20px;
}
.mat-card-avatar {
  width: 100px;
  height: 100px;
  font-size: 40px;
}
.mini_profile {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.info {
  width: 100%;
}
.info div {
  margin: 0;
  width: 30%;
  justify-content: space-evenly;
}
.info mat-card {
  height: 150px;
}
.rating_stars {
  display: inline-block;
}
mat-card-title {
  color: #0f15a3;
}
.info_text {
  text-align: center;
}
