.mat-spacer {
  flex: 1 1 auto;
}
.logo {
  width: 60px;
  height: 60px;
  margin: 0px 10px;
}

.mat-card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}

.card-group {
  display: inline-block;
}

.contract-information {
  width: 21.5vw;
}

.client {
  display: flex;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 150px;
  margin-right: 7px;
}

.client-history {
  margin: 10px;
}

.profile-img-history {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  margin-right: 7px;
}

.price {
  color: #0f15a3;
  font-weight: bold;
  font-size: x-large;
}

.buttons-area {
  display: flex;
  justify-content: space-between;
}

.buttons-area button {
  border-radius: 18px;
  width: 45%;
}

.card-history {
  display: flex;
}

button {
  display: flex;
  align-self: center;
  justify-items: center;
  left: 30%;
  border-radius: 5vh;
  bottom: 10px;
}
.accept {
  width: 100px;
  height: 100px;
  display: flex;
}
.card-rejected {
  background-color: #fbf0f0;
  overflow: auto;
}
.card-title {
  color: #de1919;
}
mat-card-title {
  text-align: center;
}
mat-card-subtitle {
  text-align: center;
}
.menu-icon {
  display: none;
}
@media (max-width: 412px) {
  .menu-items {
    display: none;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #0f15a3;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    z-index: 2;
  }

  .menu-items a {
    display: block;
    margin-bottom: 8px;
  }

  .menu-icon {
    display: block;
  }

  .show-menu-items {
    display: block !important;
  }
}