<mat-toolbar color="primary">
  <img class="logo" src="../assets/imgs/fastporte-logo.png" alt="Logo" />
  <h1>FastPorte</h1>
  <div class="mat-spacer"></div>
  <!-- App options -->
  <button class="menu-icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="menu-items" [ngClass]="{'show-menu-items': isOpen}">
    <a mat-button [routerLink]="'/home-c'">Home</a>
    <a mat-button [routerLink]="'/my-profile-c'">My Profile</a>
    <a mat-button [routerLink]="'/search'">Search Vehicles</a>
    <a mat-button [routerLink]="'/contracts-c'">Contracts</a>
    <a mat-button [routerLink]="'/support'">Support</a>
    <a mat-button (click)="logout()" routerLink='#'>Logout</a>
  </div>
  <mat-icon [matBadge]="cont" matBadgeColor="warn" [matBadgeHidden]="hidden" (click)="
      toggleBadgeVisibility();
      notification.showModal();
      updateNotification(user_id);
    ">notifications_active</mat-icon>
</mat-toolbar>


<app-notifications [title]="'Notifications'" #notification>
  <div *ngFor="let clientnotification of clientnotifications">
    <mat-card class="example-card" *ngIf="clientnotification.status.status == 'PENDING'">
      <mat-card-header>
        <img mat-card class="accept" src="https://i.postimg.cc/GpWLNrx0/image-47.png" />

        <mat-card-title>Congratulations! The carrier accepted your request for services.
        </mat-card-title>
        <mat-card-subtitle>
          Click on the button to access the payment form.
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" (click)="goToContract(clientnotification.id)">
          Look at the receipt
        </button>
      </mat-card-actions>
    </mat-card>
    <br />

    <!-- status: OFFER + visible: false = CONTRACT REJECTED -->
    <mat-card class="card-rejected"
      *ngIf="clientnotification.status.status == 'OFFER' && clientnotification.visible == false">
      <mat-card-header>
        <mat-card-title class="card-title">Contract rejected</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="card-history">
          <div class="client-history">
            <img [src]="clientnotification.client.photo" alt="Profile" class="profile-img-history" />
            <div>
              <strong>Client</strong>
              <p>{{ clientnotification.client.username }}</p>
            </div>
          </div>
          <div>
            <h4>DETAILS</h4>
            <p>
              Date:
              <strong>{{ clientnotification.contractDate }}</strong>
            </p>
            <p>
              From:
              <strong>{{ clientnotification.from }}</strong>
            </p>
            <p>
              To: <strong>{{ clientnotification.to }}</strong>
            </p>
            <p>
              Amount:
              <strong>{{ clientnotification.amount }}</strong>
            </p>
          </div>
        </mat-card>
      </mat-card-content>
    </mat-card>
    <br />
  </div>
</app-notifications>