.inline-block{
    display: inline-block;
}
.result{
    border-radius: 20px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}
.block-container{
    display: flex;
    justify-content:space-evenly;
    margin: 50px;
}
.results{
    width: 50%;
}
mat-card-header{
    margin-bottom: 4vh;
}
.result{
    width: 95%;
    margin: 10px;
}



mat-card{
    width: 100%;
    border-radius: 20px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}
mat-card-content{
    display: flex;
    justify-items: center;

}
button{
    display: flex;
    justify-items: center;
    margin-top: 1vh;
    border-radius: 5vh;
}
.footer {
    position: absolute;
    top: calc(100% - 160px);

}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Ajuste de la propiedad grid-template-columns */
  grid-gap: 10px;
  border: 0px solid #ccc;
  border-radius: 5px;
  padding: 0px;
  cursor: pointer;
}


.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.1s ease-in-out;
  
}

.grid-item:hover {
  box-shadow: 0 0 5px 0 #ccc;
}

.selected {
  border-color: black;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 170px; /* ajusta el valor a lo que necesites */
  height: 100px; 
}
body {
  margin: 0;
}
