<app-header-c></app-header-c>
<div class="scroll">
  <div class="block-container">
  <div class="block form-container inline-block">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon>search</mat-icon>
          <strong> Search Vehicle</strong>
        </mat-card-title>
      </mat-card-header>
      <form [formGroup]="searchForm" (submit)="listSearch()">
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="4:1">
            
            <div class="grid-container">
              <div *ngFor="let vehicle of Type" 
              class="grid-item" [class.selected]="selectedVehicle === vehicle.viewValue" 
              (click)="clickType(vehicle.viewValue)" >
                <img src="{{vehicle.imgSrc}}" alt="{{vehicle.viewValue}}" 
                [class.selected-img]="selectedVehicle === vehicle.viewValue" >
                <span>{{vehicle.viewValue}}</span>
              </div>
            </div>
            
          </mat-grid-list>
        </mat-card-content>
      </form>
    </mat-card>
  </div>

  <div class="block results inline-block">
    <mat-card>
      <h2><strong> Results:</strong></h2>
      <div *ngIf="filteredVehicules?.length < 1">
        <span>No Results</span>
      </div>
      <div class="result" *ngFor="let result of filteredVehicules">
        <mat-card>
          <div class="inline-block">
            <img
              mat-icon
              mat-card-avatar
              [src]="result.driver.photo"
              alt="User Avatar"
            />
          </div>
          <div class="inline-block">
            <mat-card-title>
              <strong>{{ result.driver.username }}</strong>
              {{ result.driver.rating }}
              <mat-icon style="color: gold">star</mat-icon>
            </mat-card-title>
            <mat-card-content>{{ result.driver.description }}</mat-card-content>
          </div>
          <div class="inline-block">
            <button mat-button (click)="goToDriver(result.driver.id)">
              <mat-icon>open_in_new</mat-icon>
              See Profile
            </button>
          </div>
        </mat-card>
      </div>
    </mat-card>
  </div>
  </div>
</div>
<app-footers></app-footers>
