h1 {
    text-align: center;
    margin-top: 3vh;
}

img{
    display: block;
    padding: 15px 15px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 12vh;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 15vh;
    width: 20vw;
    padding-top: 7vh;
    padding-bottom: 5vh;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: #0F15A3;
}

p{
    font-size: 12px;
    text-align: center;
    margin-top: 1vh;
}

button{
    margin-top: 1vh;
    border-radius: 5vh;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5vh;
}
.alert{
    color: red;
}
.alert2{
    color: white;
}
.card {
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    /*transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);*/
}

@media (max-width: 900px) {
    form {
        width: 50vw;
    }
}