<footer class="footer">

    <mat-grid-list cols="3" rowHeight="60" rowW>
        <mat-grid-tile>
            

            <h1>
                
                About FastPorte &nbsp;&nbsp;&nbsp;&nbsp;
                
                <div class="flex align-items-center justify-content-center">
                    <button mat-mini-fab color="white" >
                        <mat-icon class="iconC">mail_outline</mat-icon>
                    </button>&nbsp;
                    <button mat-mini-fab color="white">
                        <mat-icon class="iconC">facebook</mat-icon>
                    </button>&nbsp;
                    <button mat-mini-fab color="white">
                        <mat-icon class="iconC">public</mat-icon>
                    </button>&nbsp;
                    <button mat-mini-fab color="white">
                        <mat-icon class="iconC">forum</mat-icon>
                    </button>
                </div>
            </h1>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile><p>©FastPorte, 2022.</p></mat-grid-tile>
      </mat-grid-list>        
    
</footer>