/*footer*/

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
button {
  color: #ffffff;
}
.iconC {
  color: black;
}

footer {
  background-color: #0f15a3;
  position: fixed;
  bottom: 0; /* Position the footer at the bottom of the body */
  width: 100%; /* Set the width of the footer to fill the full width of the body */
  height: 6rem; /* Set the height of the footer */
  color: #fff; /* Set a text color for the footer */
  text-align: center; /* Center the text within the footer */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin: 0;
}
p {
  margin: 0;
}
.button-container {
  margin: 0;
}
