<!-- <app-header-c></app-header-c> -->
<h1>Payment method</h1>

<a
  ><button
    mat-raised-button
    (click)="goAddCard()"
    color="accent"
    class="add-button"
  >
    Add Card
  </button></a
>

<div class="info" fxLayout="row">
  <div class="popular_drivers" class="inline-block">
    <h2 class="home_title"><strong>Cards</strong></h2>
    <div class="center">
      <div class="container">
        <mat-card *ngFor="let _cards of Cards_user">
          <div class="inline-block box_text">
            <mat-card-title>{{ _cards.card.nickName }}</mat-card-title>
            <mat-card-content
              ><b>Type:</b> {{ _cards.card.issuer }}
            </mat-card-content>
            <mat-card-content
              ><b>Number Card:</b> {{ _cards.card.cardNumber }}
            </mat-card-content>
            <mat-card-content
              ><b>E-mail:</b> {{ _cards.card.email }}
            </mat-card-content>
            <!-- <mat-card-content
              ><b>Phone:</b> {{ _cards.card.phone }}
            </mat-card-content> -->
            <!-- <mat-card-content
              ><b>Direction:</b> {{ _cards.Direction }}
            </mat-card-content> -->
            <mat-card-content
              ><b>Postal Code o zip:</b> {{ _cards.card.zip }}
            </mat-card-content>
            <div class="center_button">
              <!-- <button mat-raised-button [routerLink]="'/add-card'" color="accent">Setting</button> -->
              <button
                mat-raised-button
                (click)="deleteItem(_cards.card.id)"
                color="warn"
              >
                Delete
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!-- <app-footers></app-footers> -->
