h1 {
    margin: 3vh;
}

.add-button {
    margin-bottom: 3vh;
    margin-left: 3vh;
} 

.info {
    width: 100%;
}

.home_title {
    margin-left: 3vh;
}

.inline-block {
    display: inline-block;
    width: 100%;
}

.container {
    width: 70vw;
    /* border:solid 1px red; */
    display: flex;
    height: 100%;
    /* flex-wrap:wrap; */
    row-gap: 38px;
    column-gap: 2vw;
    margin: 50px 0px;
}

.center {
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.center_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}

/* .box_text {
    width: 24vw;
} */

mat-card{
    width: 200px;
    height: 100%;
    /* border:solid 1px red; */
}

mat-card-title{
    text-align: center;
}