<app-header></app-header>

<div class="signup1">
    <img src="../../../../assets/imgs/fastporte-logo.png" alt="" class="card">
    <h1 *ngIf="display1">Create A New Account</h1>
    <h1 *ngIf="display2">Fill In Your User Information</h1>
    <h1 *ngIf="display3">Terminate New Account</h1>
    <form class="card" [formGroup]="signupForm" (submit)="onSubmit()" >
        <mat-form-field>
            <input matInput placeholder="Email address"
                formControlName="email"
                type="email">
            <mat-error *ngIf="email?.errors?.['required']">Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email'] &&
                !email?.errors?.['required']"> </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="First Name"
                formControlName="first_name">
            <mat-error *ngIf="first_name?.errors?.['required']">First name is
                <strong>required</strong>
            </mat-error>

        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name"
                formControlName="last_name">
            <mat-error *ngIf="last_name?.errors?.['required']">Last name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field >
            <input matInput placeholder="Password"
                formControlName="password"
                type="password" >
            <mat-error *ngIf="password?.errors?.['required']">Password is
                <strong>required</strong> </mat-error>
            <mat-error *ngIf="password?.errors?.['minlength'] &&
                !password?.errors?.['required']" >
                Password must have at least <strong> 7 </strong> characters
            </mat-error>
        </mat-form-field>

       <!--
         <mat-form-field>
            <input matInput placeholder="Confirm Password"
                formControlName="confirmPassword"
                type="password" (change)="validatePassword()">
                <mat-error *ngIf="!samePassword">
                    Password must be <strong> the same </strong>
                </mat-error>
        </mat-form-field>
        -->

        <mat-form-field>
            <mat-label>Region</mat-label>
            <mat-select formControlName="region">
                <mat-option value="Amazonas">Amazonas</mat-option>
                <mat-option value="Ancash">Ancash</mat-option>
                <mat-option value="Apurimac">Apurimac</mat-option>
                <mat-option value="Arequipa">Arequipa</mat-option>
                <mat-option value="Ayacucho">Ayacucho</mat-option>
                <mat-option value="Cajamarca">Cajamarca</mat-option>
                <mat-option value="Callao">Callao</mat-option>
                <mat-option value="Cusco">Cusco</mat-option>
                <mat-option value="Huancavelica">Huancavelica</mat-option>
                <mat-option value="Huanuco">Huanuco</mat-option>
                <mat-option value="Ica">Ica</mat-option>
                <mat-option value="Junin">Junin</mat-option>
                <mat-option value="La Libertad">La Libertad</mat-option>
                <mat-option value="Lambayeque">Lambayeque</mat-option>
                <mat-option value="Lima">Lima</mat-option>
                <mat-option value="Loreto">Loreto</mat-option>
                <mat-option value="Madre de Dios">Madre de Dios</mat-option>
                <mat-option value="Moquegua">Moquegua</mat-option>
                <mat-option value="Pasco">Pasco</mat-option>
                <mat-option value="Piura">Piura</mat-option>
                <mat-option value="Puno">Puno</mat-option>
                <mat-option value="San Martin">San Martin</mat-option>
                <mat-option value="Tacna">Tacna</mat-option>
                <mat-option value="Tumbes">Tumbes</mat-option>
                <mat-option value="Ucayali">Ucayali</mat-option>
            </mat-select>
            <mat-error *ngIf="region?.errors?.['required']">Region is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker"
                formControlName="birthDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="birthDate?.errors?.['required']">Birth date is
                <strong>required</strong> </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Phone number"
                formControlName="phone">

            <mat-error *ngIf="phone?.errors?.['required']">
                Phone is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="phone?.errors?.['pattern'] &&
                !phone?.errors?.['required']">
                Phone must have only <strong>numbers</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Identify card"
                formControlName="idCard">
            <mat-error *ngIf="idCard?.errors?.['required']">
                ID is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="idCard?.errors?.['pattern'] &&
                !idCard?.errors?.['required']">
                Identify card must have only <strong>numbers</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field matInput placeholder="Type of user">
            <mat-label>Type of user</mat-label>
            <mat-select formControlName="typeofuser">
                <mat-option value="client">Client</mat-option>
                <mat-option value="driver">Driver</mat-option>
            </mat-select>
            <mat-error *ngIf="typeofuser?.errors?.['required']">Type of user is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea type="text" matInput placeholder="Type a
                description
                about you" formControlName="description"></textarea>
        </mat-form-field>

        <img src="../../../../../assets/imgs/user-vector.png"
            alt="user-vector" class="img-user">
        <p style="text-align: center"><a href="#"><u>Upload a photo</u></a></p>
        <button mat-raised-button [disabled]="!signupForm.valid" color="primary"
            (click)="registerData()">Create account</button>

    </form>
</div>



<app-footer></app-footer>