<app-header></app-header>
<div *ngIf="display1">
  <img src="../../../../assets/imgs/forgot-password.png" alt="" />

  <h1>Forgot Your Password?</h1>
  <form mat action="" class="card">
    <mat-form-field>
      <input matInput placeholder="Email address" #email />
    </mat-form-field>
    <mat-form-field matInput placeholder="Type of user">
      <mat-label>Type of user</mat-label>
      <mat-select formControlName="typeofuser">
          <mat-option value="client">Client</mat-option>
          <mat-option value="driver">Driver</mat-option>
      </mat-select>
      <mat-error *ngIf="typeofuser?.errors?.['required']">Type of user is
          <strong>required</strong>
      </mat-error>
  </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="getInputValue(email.value)"
    >
      Continue
    </button>
    <p>
      No Account Yet? <a [routerLink]="'/signup-p1'"><u>Create Account</u></a>
    </p>
  </form>
</div>

<div *ngIf="display2">
  <img src="../../../../assets/imgs/fastporte-logo.png" alt="" class="card" />
  <h1>Forgot Your Password?</h1>
  <p>
    Type-in a new password different<br />
    from the previus one and repeat to validate
  </p>
  <form mat action="" class="card">
    <mat-form-field>
      <input matInput type="password" placeholder="New password" #password />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm password" />
    </mat-form-field>
    <button
      mat-raised-button
      (click)="updatePassword(password.value)"
      color="primary"
    >
      Confirm
    </button>
  </form>
</div>

z
<app-footer></app-footer>
